@import "~antd/dist/antd.css";
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;400&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Oxanium', cursive;
}

.anticon.anticon-cross-circle.ant-calendar-picker-clear {
  display: none;
}
.ant-modal-body {
  padding-bottom: 5px;
  padding-top: 5px;
}
.ant-modal-header {
  padding-bottom: 5px;
}
.ant-table-pagination.ant-pagination {
  margin-top: 10px;
  margin-bottom: 3px;
}
